SUPABASE_URL= https://ygfrkoqksesndvelxaiq.supabase.co
SUPABASE_SERVICE_KEY= sb_secret_e-zWIKKGdjzAO8zw-qJmAQ_k9_UToxU
GEMINI_API_KEY= AIzaSyB_Gfe4n05XGO_-Z14V8hnqkDfqf2DiWAc
FRONTEND_URL=http://localhost:5173
